<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>upload</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.applpsefew.comdcsd.anpireportapp</key>
		<string>kato anpi flutter mdm dist</string>
	</dict>
	<key>signingCertificate</key>
	<string>66FE7824259A979FE17200362D5FDC6C088A6A7B</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>75JH8UC5BA</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
