<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>upload</string>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.katoanpireport.flutter.app</key>
		<string>Kato Sansho Anpi Report iOS Dev mini</string>
	</dict>
	<key>signingCertificate</key>
	<string>1C1CE3B06BCB182A32F755400BED17F29CF41FC2</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>75JH8UC5BA</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
