<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxqALVSGd4dax_nYSiWB54JMlXtkKp4NQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1057187287026</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>K5JH8UC5BA.com.example.anpiReportIos</string>
	<key>PROJECT_ID</key>
	<string>anpi-report</string>
	<key>STORAGE_BUCKET</key>
	<string>anpi-report.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057187287026:ios:ae4cc868097ce0bd9f256b</string>
</dict>
</plist>